body {
	background-color: #232323;
	margin: 0 auto;
}

h1 {
	color: white;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 15px;
}

#header {
	color: rgb(74, 142, 249);
	text-align: center;
	padding-bottom: 20px;
	margin-bottom: 50px;
}

.headerButton {
	padding-left: 10px;
	padding-right: 10px;
	border: white 2px solid;
	background-color: white;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container {
	margin: 0 auto;
	max-width: 600px;

}

#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: blue;
}